
.content{
height: 100vh;
background-image: url("../Images/Capture.PNG");
background-size:cover ;
background-position: center ;
background-attachment: fixed;
}

#text{
    border: 1px solid transparent;
    border-radius: 20px;
    color   :#8E7754;
}
.quote-box{
    padding: 50px 10px  0 ;
    background-color: rgba(0, 0, 0, 0.7);
}


    .quote-box{
        min-height: 450px;
    }
